.cardAllNews0 {
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  justify-content: space-around;
  background-color: #c4bebe;
}
.cardAllNews0 .cardAllNews1 {
  width: 200px;
  color: black;
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 5px;
  font-size: 1rem;
}
.cardAllNews0 .cardAllNews1 img {
  background-color: rgb(66, 64, 64);
  height: 20vh;
}
.cardAllNews0 .cardAllNews1 .imageAllNews12 {
  background-color: rgb(167, 160, 150);
  width: -moz-fit-content;
  width: fit-content;
}
.cardAllNews0 .cardAllNews1 .imageAllNews13 {
  background-color: rgb(110, 118, 134);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardAllNews0 .cardAllNews1 p {
  width: -moz-min-content;
  width: min-content;
  background-color: rgb(116, 122, 120);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  float: right;
  padding: 3px;
  margin-left: 150px;
}
.cardAllNews0 .cardAllNews2 {
  width: 200px;
  color: black;
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 5px;
  font-size: 1rem;
}
.cardAllNews0 .cardAllNews2 img {
  background-color: rgb(66, 64, 64);
  height: 20vh;
}
.cardAllNews0 .cardAllNews2 .imageAllNews22 {
  background-color: rgb(167, 160, 150);
  width: -moz-fit-content;
  width: fit-content;
}
.cardAllNews0 .cardAllNews2 .imageAllNews23 {
  background-color: rgb(110, 118, 134);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardAllNews0 .cardAllNews2 p {
  width: -moz-min-content;
  width: min-content;
  background-color: rgb(116, 122, 120);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  float: right;
  padding: 3px;
  margin-left: 150px;
}
.cardAllNews0 .cardAllNews3 {
  width: 200px;
  color: black;
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 5px;
  font-size: 1rem;
}
.cardAllNews0 .cardAllNews3 img {
  background-color: rgb(66, 64, 64);
  height: 20vh;
}
.cardAllNews0 .cardAllNews3 .imageAllNews32 {
  background-color: rgb(167, 160, 150);
  width: -moz-fit-content;
  width: fit-content;
}
.cardAllNews0 .cardAllNews3 .imageAllNews33 {
  background-color: rgb(110, 118, 134);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardAllNews0 .cardAllNews3 p {
  width: -moz-min-content;
  width: min-content;
  background-color: rgb(116, 122, 120);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  float: right;
  padding: 3px;
  margin-left: 150px;
}
.cardAllNews0 .cardAllNews4 {
  width: 200px;
  color: black;
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 5px;
  font-size: 1rem;
}
.cardAllNews0 .cardAllNews4 img {
  background-color: rgb(66, 64, 64);
  height: 20vh;
}
.cardAllNews0 .cardAllNews4 .imageAllNews42 {
  background-color: rgb(167, 160, 150);
  width: -moz-fit-content;
  width: fit-content;
}
.cardAllNews0 .cardAllNews4 .imageAllNews43 {
  background-color: rgb(110, 118, 134);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardAllNews0 .cardAllNews4 p {
  width: -moz-min-content;
  width: min-content;
  background-color: rgb(116, 122, 120);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  float: right;
  padding: 3px;
  margin-left: 150px;
}/*# sourceMappingURL=cardAllNews.css.map */