@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: #c4bebe;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #c4bebe;
}
nav ul {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}
nav ul p.logo {
  display: block;
  margin: 1rem 2rem;
}
nav ul p.favorite,
nav ul p.login {
  display: block;
  color: white;
  margin: 1rem 2rem;
}
nav ul div.choices {
  display: flex;
  margin: auto;
}
nav ul li.choice {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  background-color: white;
  margin-right: 1rem;
}
nav ul li.choice p {
  color: black;
}
nav ul li.choice a {
  text-decoration: none;
}
nav ul li.choice ul.b1 {
  color: black;
  display: none;
  position: absolute;
  top: 50px;
  list-style-type: none;
  font-size: 20px;
  width: 150px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: white;
}
nav ul li.choice ul.b1 li {
  text-align: center;
}
nav ul li.choice ul.b1 li a {
  color: black;
}
nav ul li.choice ul.b1 li:hover {
  background-color: #000000;
  color: white;
}
nav ul li.choice ul.b1 li:hover a {
  color: white;
}
nav ul li:hover > a > p {
  text-decoration: underline;
}
nav ul li:hover > ul.b1 {
  display: block;
}

.bgAnimation {
  background-size: cover;
  z-index: -1;
  position: relative;
  width: 100%;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(40, 5fr);
  grid-template-rows: repeat(10, 4fr);
  background: #575454;
  filter: saturate(1);
}

.colorBox {
  z-index: 5;
  filter: brightness(1.1);
  transition: 2s ease;
  position: relative;
  margin: 0.5px;
  background: #1d1d1d;
}

.loudou {
  z-index: -1;
  margin-top: -250px;
  width: 100%;
  height: 10px;
  background-color: rgba(177, 3, 38, 0);
  border-top: 150px solid rgba(177, 3, 38, 0);
  border-bottom: 50px solid rgba(177, 3, 38, 0);
  border-left: 50px solid #c4bebe;
  border-right: 50px solid #c4bebe;
}

.loudou2 {
  position: absolute;
  z-index: -1;
  margin-top: -80px;
  width: 100%;
  height: 50px;
  background-color: rgba(177, 3, 38, 0);
  border-top: 50px solid rgba(177, 3, 38, 0);
  border-bottom: 50px solid #c4bebe;
  border-left: 50px solid #5f5c5c;
  border-right: 50px solid #5f5c5c;
}

.title {
  font-weight: 700;
  background-color: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 6px 6px;
  font-size: 3rem;
  width: 100%;
  position: absolute;
  z-index: -1;
  padding: -10px;
  margin-top: -250px;
  color: rgba(226, 241, 10, 0.937254902);
  display: flex;
  justify-content: center;
  animation: animationName 2s linear forwards;
}

.title2 {
  font-weight: 700;
  background-color: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
  font-size: 3rem;
  position: absolute;
  width: 100%;
  margin-top: -250px;
  color: rgba(35, 82, 123, 0.5529411765);
  display: flex;
  justify-content: center;
  animation: animationName2 2s linear forwards;
}

.tab-demo {
  background-color: #c4bebe;
  padding: 50px;
}

.tab-title {
  display: flex;
  list-style: none;
  display: flex;
  justify-content: center;
}

.tab-title li {
  padding: 10px;
}

.tab-title li a {
  display: block;
  padding: 10px;
  color: #333;
  background-color: #ccc;
  text-decoration: none;
}

.tab-title li.active a {
  color: white;
  background-color: #1c80c2;
}

.tab-inner {
  padding: 10px;
  border: 1px solid #5d5959;
}

.tab-inner2 {
  padding: 10px;
  border: 1px solid #1f1a1a;
}

.contact_card {
  background-color: #1d1d1d;
  display: flex;
  justify-content: space-around;
}

.contact_card1 {
  width: 250px;
  background-color: #1d1d1d;
  display: inline-block;
  padding: 40px;
  text-align: center;
}

.contact_card1:hover {
  width: 250px;
  background-color: #5d5959;
  display: inline-block;
  padding: 40px;
  text-align: center;
}

.contact_card2 {
  width: 250px;
  background-color: #1d1d1d;
  display: inline-block;
  padding: 40px;
  text-align: center;
}

.contact_card2:hover {
  width: 250px;
  background-color: #5d5959;
  display: inline-block;
  padding: 40px;
  text-align: center;
}

.contact_card3 {
  width: 250px;
  background-color: #1d1d1d;
  display: inline-block;
  padding: 40px;
  text-align: center;
}

.contact_card3:hover {
  width: 250px;
  background-color: #5d5959;
  display: inline-block;
  padding: 40px;
  text-align: center;
}

.bottom1 {
  height: 45px;
  background-color: #5d5959;
}

.bottom2 {
  height: 50px;
  background-color: #5d5959;
}

.attenion {
  margin-top: 10px;
  font-size: 20px;
  height: 90px;
  background-color: #c4bebe;
  color: white;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #c4bebe;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 8px solid #c4bebe;
  border-radius: 20px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 25px rgba(0, 0, 0, 0.45);
}

.inputMain {
  display: inline;
  justify-content: center;
  padding-right: 60%;
  border-radius: 15px;
  margin: 8px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35), inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.NameEmail {
  display: flex;
  margin-left: 20px;
  color: #000000;
  letter-spacing: 2px;
}

.submitEmail {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer {
  padding: 20px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 8rem;
  background-color: rgb(68, 70, 70);
}

#footer > #L {
  display: flex;
  justify-content: center;
  height: 45px;
  width: 45px;
  background-color: #2b2b22;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
}

#footer > #K {
  margin-top: -45px;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  height: 45px;
  width: 45px;
  background-color: #007ced;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
}

#footer p {
  padding-top: 5px;
}

#footer h6 {
  padding-top: 5px;
}/*# sourceMappingURL=nav.css.map */